In [1]:
print("I love python")

I love python

In [4]:
num1=2
num2=3
num3=5
avg =  (num1 + num2 + num3) /3
"The average of {}, {}, {}, {}".format(num1, num2, num3, avg)

'The average of 2, 3, 5, 3.3333333333333335'

In [5]:
# to know the version of ur python
import sys
print(sys.version)

3.11.1 (tags/v3.11.1:a7a450f, Dec  6 2022, 19:58:39) [MSC v.1934 64 bit (AMD64)]

In [ ]:
#to write outside, after inserting new cell, then click on code n select markdown. And to delete, click d two times

my name is atajiri

In [7]:
#how to check type of anna
name = "anna"
dir(name)

SyntaxError: incomplete input (2188325128.py, line 3)

In [12]:
an = 5*8
print(an)

40

In [15]:
x = (3 + 2) * 2
y = 3 + 2 * 2
print(x, y)

10 7

In [17]:

"The value of x" + str(x)

'The value of x10'

In [18]:
"The value of x is {}".format(x)

'The value of x is 10'

In [22]:
ages = [23, 45, 34, 56, 27, 34]
ages[2]

34

In [23]:
ages[1:4]

[45, 34, 56]

In [29]:
#to skip after 
ages[::2]

[20, 33, 19, 30, 19]

In [26]:
ages = [20, 22, 33, 20, 19, 23, 30, 18, 19]
ages[2:8]

[33, 20, 19, 23, 30, 18]

In [27]:
ages[::4]

[20, 19, 19]

In [28]:
sum(ages)

204

In [30]:
#asigning a new value to index position 0
ages[0] = 22

In [31]:
ages

[22, 22, 33, 20, 19, 23, 30, 18, 19]

In [8]:
ages = [20, 22, 33, 20, 19, 23, 30, 18, 19]
sum_of_age = 0
for age in ages:
    sum_of_age = sum_of_age + age
    print(sum_of_age)

20
42
75
95
114
137
167
185
204

In [5]:
ages = [20, 22, 33, 20, 19, 23, 30, 18, 19]
new_ages = []
for age in ages:
    if age> 22:
        new_ages.append(age)
new_ages

[33, 23, 30]

In [9]:
ages = [20, 22, 33, 20, 19, 23, 30, 18, 19]
new_ages = []
for age in ages:
    if age> 22:
        new_ages.append(age)
        if len(new_ages) > 3:
            break
new_ages

[33, 23, 30]

In [25]:
n = int(input("Enter number: "))
factorials=1
for x in range(1, n+1):
     factorials *= x
    
print(factorials)

Enter number: 5
120

In [5]:
for num in range (1,11):
    multiplier = 1
    while multiplier < 10:
        print("{} x {} = {}".format(num, multiplier, num * multiplier))
        multiplier += 1
    
    print("")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

In [9]:
for num in range (-5,5):
    print(num)

-5
-4
-3
-2
-1
0
1
2
3
4

In [10]:
genres = ['rock', 'soul', 'pop']
print(genres)

['rock', 'soul', 'pop']

In [13]:
squares = ['red', 'yellow', 'green', 'purple']
for square in squares:
    print(square)

red
yellow
green
purple

In [15]:
playListRatings = [10, 9.5, 10, 8, 7.5, 5, 10]
for rating in playListRatings:
    if rating  < 6:
        break #the break means to stop the moment is got to 5
    print(rating)

10
9.5
10
8
7.5

In [21]:
playListRatings = [10, 9.5, 10, 8, 7.5, 5, 10]
for rating in playListRatings:
    if rating  > 6:
        print(rating)

10
9.5
10
8
7.5
10

In [24]:
playListRatings = [10, 9.5, 10, 8, 7.5, 5, 10]
rating_indx = 0
while rating_indx < len(playListRatings) - 1: #indicate yhe last digit
    if playListRating[rating_indx] < 6:
        break
    print(palyListRatings[rating_indx])
    rating_indx = rating_indx + 1

NameError: name 'playListRating' is not defined